/* Global styling */
h5 {
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 5px 15px;
  position: relative;
}
h5 span {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: rgba(240, 240, 240, 0.6);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}
/* End Global styling */

section {
  width: 600px;
  background-color: #fff;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.16);
  margin: 50px auto;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

/* search stylying */
.search {
  margin: 15px auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  width: calc(100% - 30px);
  position: relative;
}
.search::after {
  content: "";
  position: absolute;
  top: calc(100% + 15px);
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ddd;
}
.search label {
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search img {
  width: 16px;
}
.search input {
  border: 0;
  outline: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
}

/* Alphabet */
.alphabet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}
.alphabet div {
  color: #999;
  cursor: pointer;
}

/* Contacts */
.contacts {
  position: relative;
  height: 420px;
  overflow-y: auto;
}
.user {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

/* User section styling */
.user:last-of-type {
  border: 0;
}
.user .avatar {
  background-image: url("../../assets/svg/user.svg");
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user .info {
  margin-left: 15px;
}
.user .info .name {
  font-weight: 500;
  margin-bottom: 4px;
  text-transform: capitalize;
}
.user .info .email {
  color: #999;
}

/* Add new contacts */
.addNewContacts {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fe4c00;
  background-image: url("../../assets/svg/add-new-contect.svg");
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: 60%;
}

/* Search */
.search_results {
  height: 420px;
  overflow: auto;
}

.no_data_found img {
  display: block;
  width: 150px;
  margin: 40px auto 30px;
}
.no_data_found p {
  font-size: 18px;
  color: #999;
  text-align: center;
}
.no_data_found .actions {
  display: flex;
  justify-content: center;
}
.no_data_found button {
  margin: 20px 10px;
  text-transform: capitalize;
  border: 0;
  border-radius: 2px;
}
.no_data_found button.add {
  background-color: #fe4c00;
  color: #fff;
}
