<section>
  <!-- search Bar -->
  <div class="search">
    <label for="searchInput">
        <img src="assets/svg/search.svg" alt="Search icon">
    </label>
    <input type="text" id="searchInput" placeholder="Search Contacts">
  </div>
  <!-- Contacts -->
  <div class="contacts">
    <!-- The alphabet letters -->
    
    <!-- Here will append recent contacts -->
    <div class="recent">
      <h5>Recent Contacts</h5>
      <div class="user">
          <div class="avatar"></div>
          <div class="info">
            <div class="name">
              John <span>Doe</span>
            </div>
            <div class="email">johndoe@gmail.com</div>
          </div>
        </div>
    </div>
    <!-- Here will append all contacts -->
    <div class="all"></div>
  </div>
  <!-- End contacts -->
</section>