form {
  width: 600px;
  background-color: #fff;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.16);
  margin: 50px auto;
  padding: 0 24px;
  border-radius: 6px;
  overflow: hidden;
}

h1 {
  font-size: 21px;
  font-weight: 400;
  padding-bottom: 10px;
  margin: 30px 0 20px;
  border-bottom: 2px solid #333;
}

/* Add photo */
.upload_img {
  padding: 10px;
}
.upload_img input {
  display: none;
}
.upload_img label {
  cursor: pointer;
}
.upload_img label .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("../../assets/svg/user.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  margin: 0 auto 10px;
}
.upload_img label h4 {
  color: #333;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.mat-form-field {
  width: 100%;
}
.mat-form-field.phone {
  width: calc(100% - 130px);
  margin-left: 10px;
}
.mat-form-field.country-code {
  width: 120px;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.5em;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
.actions button {
  border: 0;
  border-radius: 2px;
  text-transform: capitalize;
}
.actions .cancel {
  margin-right: 15px;
}
.actions .add {
  background-color: #fe4c00;
  color: #fff;
}
